.button-main {
    font-weight: 500;
    font-family: Raleway;
    color: #fff;
    background: $gradient;
    padding: 25px 50px;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    gap: 10px;
    @include adaptiveValue("font-size", 20, 18);
    max-width: fit-content;

    @media (max-width:$mobileSmall) {
        width: 100%;
    }

    svg {
        transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            color: rgba(255, 255, 255, 0.8);

            svg {
                transform: translate(5px, 0px);
            }
        }
    }

    &:active {
        transform: scale(0.98);
        box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);

        svg {
            transform: scale(0.9);
        }
    }
}
