body {
    background-color: #f7f7f7;
}

.button-main {

    font-weight: 500;
    font-family: Raleway;
    color: #fff;
    background: $green;
    padding: 25px 50px;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    gap: 10px;
    @include adaptiveValue("font-size", 20, 16);
    max-width: fit-content;

    @media (max-width:$mobile) {
        padding: 15px 40px;
    }

    @media (max-width:$mobileSmall) {
        min-width: 100%;
        justify-content: center;
    }

    svg {
        transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            color: rgba(255, 255, 255, 0.8);

            svg {
                transform: translate(5px, 0px);
            }
        }
    }

    &:active {
        transform: scale(0.98);
        box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);

        svg {
            transform: scale(0.9);
        }
    }
}

.section-bg {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;

    svg {
        z-index: -1;
    }
}

.block-title {
    @include adaptiveValue("font-size", 56, 30);
    font-weight: 600;
    @include adaptiveValue("margin-bottom", 60, 30);
    width: fit-content;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        left: 0px;
        bottom: -5px;
        background-color: $green;
        height: 30%;
        position: absolute;
        z-index: -1;
    }
}

.section {
    @include adaptiveValue("padding-bottom", 100, 50);
    @include adaptiveValue("padding-top", 50, 25);
    position: relative;
    overflow: visible;
}

.heading-small {
    @include adaptiveValue("font-size", 24, 18);
    font-weight: bold;
    font-family: Raleway;
    line-height: 1.2;
}

.heading-medium {
    @include adaptiveValue("font-size", 30, 24);
    font-weight: bold;
    font-family: Raleway;
    line-height: 1.2;
}

.text {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 1.4;
    color: #1b1b1b;
}


.accordion {
    border: 2px solid $green;
    background: #fff;
    border-radius: 15px;
    margin: 10px 0;
    overflow: hidden;
    transition: all 0.3s ease;
    max-width: 1000px;
    margin: 0px auto;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: rem(30);

        @media (max-width:$mobile) {
            margin-bottom: rem(15);
        }
    }
}

.accordion__header {
    padding: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    gap: 10px;
    font-family: Raleway;
    @media (max-width:$mobile) {
        padding: 15px;
    }

    span {
        svg {
            transition: all 0.3s ease 0s;
        }
    }

    .opened & {
        span {
            svg {
                transform: rotate(-180deg);

            }
        }
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: #f7f7f7;
        }
    }
}

.accordion__header p {
    margin: 0;
    @include adaptiveValue("font-size", 24, 18);
}

.accordion__content {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
}

.accordion__content-inner {
    padding: 30px;
    border-top: 1px solid $green;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;

    @media (max-width:$mobile) {
        padding: 15px;
    }
}

.faq {
    &::before {
        content: '';
        position: absolute;
        right: 20%;
        top: 300px;
        height: 300px;
        width: 300px;
        background-color: $green;
        opacity: 0.4;
        filter: blur(100px);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        left: 20%;
        bottom: 300px;
        height: 300px;
        width: 300px;
        background-color: $green;
        opacity: 0.5;
        filter: blur(100px);
        z-index: -1;
    }
}