body {
    background-color: #f7f7f7;
}

.error {
    color: red;
}

input {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    border: 1px solid #f7f7f7;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            border: 1px solid #c4c4c4;
        }
    }

    &:focus {
        border: 1px solid $green;
    }

    @media (max-width:$mobileSmall) {
        width: 100%;
    }

    &.search {
        background-color: #fff;
        width: 300px;
        @include adaptiveValue("font-size", 18, 16);
        padding-left: 50px;

        @media (max-width:$mobileSmall) {
            width: 100%;
        }
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    border: 1px solid #f7f7f7;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    @include adaptiveValue("font-size", 18, 16);
    color: #6e6e6e;

    @media (any-hover: hover) {
        &:hover {
            border: 1px solid #c4c4c4;
        }
    }

    &:focus {
        border: 1px solid $green;
    }

    @media (max-width:$mobileSmall) {
        width: 100%;
    }
}

.input-box {
    position: relative;

    .icon-search {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translate(0px, -50%);
    }
}

.button-main {
    font-weight: 500;
    font-family: Raleway;
    color: #fff;
    background: $green;
    padding: 25px 50px;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    gap: 10px;
    @include adaptiveValue("font-size", 20, 16);
    max-width: fit-content;

    @media (max-width:$mobile) {
        padding: 15px 40px;
    }

    @media (max-width:$mobileSmall) {
        min-width: 100%;
        justify-content: center;
    }

    svg {
        transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            color: rgba(255, 255, 255, 0.8);

            svg {
                transform: translate(5px, 0px);
            }
        }
    }

    &:active {
        transform: scale(0.98);
        box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);

        svg {
            transform: scale(0.9);
        }
    }

    &-mini {
        padding: 15px 30px;
        @include adaptiveValue("font-size", 18, 16);

        @media (max-width:$mobileSmall) {
            width: fit-content;
            min-width: auto;
        }
    }
}

.section-bg {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;

    svg {
        z-index: -1;
    }
}

.block-title {
    @include adaptiveValue("font-size", 56, 30);
    font-weight: 500;
    @include adaptiveValue("margin-bottom", 60, 30);
    width: fit-content;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        left: 0px;
        bottom: -5px;
        background-color: $green;
        height: 10px;
        position: absolute;
        z-index: -1;

        @media (max-width:$tablet) {
            height: 8px;
        }

        @media (max-width:$mobile) {
            height: 6px;
        }

        @media (max-width:$mobileSmall) {
            height: 4px;
        }
    }
}

.section {
    @include adaptiveValue("padding-bottom", 100, 50);
    @include adaptiveValue("padding-top", 50, 25);
    position: relative;
    overflow: visible;
}

.heading-small {
    @include adaptiveValue("font-size", 24, 18);
    font-weight: bold;
    font-family: Raleway;
    line-height: 1.2;
}

.heading-medium {
    @include adaptiveValue("font-size", 30, 24);
    font-weight: bold;
    font-family: Raleway;
    line-height: 1.2;
}

.text {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 1.4;
    color: #1b1b1b;
}


.accordion {
    border: 2px solid $green;
    background: #fff;
    border-radius: 15px;
    margin: 10px 0;
    overflow: hidden;
    transition: all 0.3s ease;
    max-width: 1000px;
    margin: 0px auto;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: rem(30);

        @media (max-width:$mobile) {
            margin-bottom: rem(15);
        }
    }
}

.accordion__header {
    padding: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    gap: 10px;
    font-family: Raleway;

    @media (max-width:$mobile) {
        padding: 15px;
    }

    span {
        svg {
            transition: all 0.3s ease 0s;
        }
    }

    .opened & {
        span {
            svg {
                transform: rotate(-180deg);

            }
        }
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: #f7f7f7;
        }
    }
}

.accordion__header p {
    margin: 0;
    @include adaptiveValue("font-size", 24, 18);
}

.accordion__content {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
}

.accordion__content-inner {
    padding: 30px;
    border-top: 1px solid $green;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;

    @media (max-width:$mobile) {
        padding: 15px;
    }
}

.faq {
    &::before {
        content: '';
        position: absolute;
        right: 20%;
        top: 300px;
        height: 300px;
        width: 300px;
        background-color: $green;
        opacity: 0.4;
        filter: blur(100px);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        left: 20%;
        bottom: 300px;
        height: 300px;
        width: 300px;
        background-color: $green;
        opacity: 0.5;
        filter: blur(100px);
        z-index: -1;
    }
}

.swiper-buttons {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 10px;
}

.swiper-btn {
    width: rem(40);
    height: rem(40);
    background-color: #fff;
    border-radius: 50%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    &.swiper-btn-absolute {
        position: absolute;
        inset: 0;
        top: 50%;
        transform: translate(0px, -50%);
        left: auto;
    }

    @media (any-hover: hover) {
        &:hover {
            svg {
                fill: $green;
            }
        }
    }

    @media (max-width:$mobileSmall) {
        width: 40px;
        height: 40px;
    }

    svg {
        fill: #000;
    }
}

.swiper-button-disabled {
    filter: brightness(0.7);

    @media (any-hover: hover) {
        &:hover {
            svg {
                fill: #000;
            }
        }
    }
}

.swiper-btn-prev {
    &.swiper-btn-absolute {
        left: 30px;

        @media (max-width:$mobileSmall) {
            left: 15px;
        }
    }
}

.swiper-btn-next {
    background: #fff;

    &.swiper-btn-absolute {
        right: 30px;
    }

    @media (max-width:$mobileSmall) {
        right: 15px;
    }

    @media (any-hover: hover) {
        &:hover {
            background: #fff;
        }
    }
}


.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    inset: 0;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: all;
}

.loading-screen.fade-out {
    animation: fadeOut 0.5s forwards, hide 0s 0.5s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes hide {
    to {
        display: none;
    }
}

.loading-inner img {
    width: 150px;
    height: 150px;
}

.loading {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
}

.loader {
    width: 50px;
    height: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $green;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}