// course-card on the main page

.course-card {
    border-radius: 30px;
    height: auto;
    position: relative;
    color: #fff;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: flex-end;

    @media (max-width:$mobile) {
        border-radius: 15px;
    }

    @media (any-hover: hover) {
        &:hover {
            .course-card__description {
                max-height: 200px;
                opacity: 1;
                transform: translateY(0);
                height: fit-content;
            }

            .course-card__duration {
                margin-bottom: 20px;
            }
        }
    }

    // .course-card__title
    &__title {
        margin-bottom: 10px;
        transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    }

    // .course-card__duration
    &__duration {
        opacity: 0.7;
        transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    }

    // .course-card__description
    &__description {
        color: #fff;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        will-change: max-height, transform, opacity;
        transform: translateY(30px);
    }

    // .course-card__body
    &__body {
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
        transition: all 0.5s ease-in-out 0s;
        @include adaptiveValue("padding", 30, 15);
        position: relative;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
        }
    }

    // .course-card__img
    &__img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;

        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }
    }
}

.popular-courses {
    .section-bg {
        svg {}
    }

    // .popular-courses__title
    &__title {}

    // .popular-courses__body
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1250px;
        margin: 0px auto;
        gap: 20px;
        @include adaptiveValue("margin-bottom", 50, 25);

        @media (max-width:$mobileSmall) {
            display: flex;
            flex-direction: column;
        }
    }

    &__button {
        margin: 0px auto;
    }
}

.courses-page {
    @include adaptiveValue("padding-top", 100, 50);
    @include adaptiveValue("padding-bottom", 100, 50);

    &__title {
        @include adaptiveValue("margin-bottom", 40, 20);

        &::before {
            content: '';
            width: 0;
        }
    }

    &__body {

        @media (max-width:em(600)) {
            display: flex;
            flex-direction: column;
        }
    }
}

// course-card on page all courses
.body-courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    position: relative;
    gap: 15px;

    @media (max-width:$mobileSmall) {
        display: flex;
        flex-direction: column;
    }
}

.courses__button-showmore {
    margin: 0px auto;
    margin-top: 30px;
}

.card-courses {
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    @media (max-width:$mobileSmall) {
        border-radius: 5px;
    }

    // .card-courses__body
    &__body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        @media (max-width:$mobileSmall) {
            padding: 10px;
        }
    }

    // .card-courses__name
    &__name {
        hyphens: auto;
        word-break: break-word;
        @include adaptiveValue("font-size", 24, 16);
    }

    // .card-courses__description
    &__description {
        margin-top: 10px;
        flex: 1 1 auto;
        margin-bottom: 20px;
    }

    // .card-courses__bottom
    &__bottom {
        display: flex;

        justify-content: space-between;
        gap: 10px;

        @media (max-width:$mobileSmall) {
            flex-direction: column;
        }
    }

    // .card-courses__duration
    &__duration {
        margin-top: auto;
        font-weight: 500;
        color: #6e6e6e;
        line-height: 1.4;
        font-size: rem(14);
    }

    // .card-courses__button
    &__button {
        @include adaptiveValue("font-size", 18, 14);
    }

    &__img {
        flex: 1 0 auto;
        max-width: 125px;

        @media (max-width:em(1200)) {
            max-width: 100px;
        }

        img {
            max-width: 100%;
            width: 125px;
            height: 125px;
            object-fit: cover;
            border-radius: 10px;

            @media (max-width:em(1200)) {
                width: 100px;
                height: 100px;
            }

            @media (max-width:em(400)) {
                width: 75px;
                height: 75px;
            }
        }
    }

    &__top {
        display: flex;
        @include adaptiveValue("gap", 30, 15);
        @include adaptiveValue("margin-bottom", 30, 15);
        justify-content: space-between;
    }
}

.courses-filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: start;
    margin-bottom: 30px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.page-course {
    @include adaptiveValue("padding-top", 100, 50);
    @include adaptiveValue("padding-bottom", 100, 50);
    position: relative;

    // .page-course__body
    &__body {
        max-width: 1000px;
        margin: 0px auto;
    }

    // .page-course__card
    &__card {
        background-color: #fff;
        padding: 30px;
        border-radius: 15px;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        box-shadow: $boxShadow;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            right: 20%;
            top: 0px;
            height: 300px;
            width: 300px;
            background-color: $green;
            opacity: 0.7;
            filter: blur(100px);
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            left: 20%;
            bottom: 0px;
            height: 300px;
            width: 300px;
            background-color: $green;
            opacity: 0.5;
            filter: blur(100px);
            z-index: -1;
        }

        @media (max-width: em(580)) {
            flex-direction: column;
        }

        @media (max-width:$mobileSmall) {
            padding: 20px;
        }

        img {
            border-radius: 30px;

            @media (max-width:$mobile) {
                width: 200px;
            }

            @media (max-width: em(580)) {
                width: 100%;
                max-height: 200px;
                object-fit: cover;
                border-radius: 15px;
            }

        }
    }

    // .page-course__inner
    &__inner {}

    // .page-course__name
    &__name {
        margin-bottom: 10px;
    }

    // .page-course__description
    &__description {}

    &__attributes {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
        text-align: center;

        p {
            font-weight: 400;
            color: #353535;
            @include adaptiveValue("font-size", 18, 14);
        }

        svg {
            height: 40px;
        }
    }

    // .page-course__info
    &__info {
        display: flex;
        margin-top: 30px;
        gap: 10px;
        flex-direction: column;
    }

    // .page-course__info--item
    &__info--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 33%;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("gap", 30, 20);
        @include adaptiveValue("margin-top", 30, 20);
    }

    // .page-course__price
    &__price {
        @include adaptiveValue("font-size", 32, 28);
    }

    // .page-course__button
    &__button {
        @media (max-width:$mobileSmall) {
            min-width: auto;
        }
    }

    // .page-course__heading
    &__heading {
        @include adaptiveValue("margin-top", 50, 25);
        @include adaptiveValue("margin-bottom", 30, 15);
    }

    // .page-course__about
    &__about {
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 300;
    }

    // .page-course__program
    &__program {}

    // .page-course__teacher
    &__teacher {}
}

.teacher-course {
    width: fit-content;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: $boxShadow;

    // .teacher-course__body
    &__body {
        display: flex;
        gap: 20px;
        padding: 30px;

        @media (max-width:$mobileSmall) {
            flex-direction: column;
        }

        @media (max-width:$mobile) {
            padding: 30px 15px;
        }
    }

    // .teacher-course__img
    &__img {
        @media (max-width:$mobileSmall) {
            margin: 0px auto;
            width: fit-content;
        }

        img {
            max-width: 300px;
            border-radius: 20px;

            @media (max-width:$mobile) {
                max-width: 150px;
            }

            @media (max-width:$mobileSmall) {
                border-radius: 15px;
            }
        }
    }

    // .teacher-course__info
    &__info {}

    // .teacher-course__name
    &__name {
        margin-bottom: 5px;
    }

    // .teacher-course__occupation
    &__occupation {
        font-weight: 500;
        color: #6e6e6e;
        line-height: 1.4;
        font-size: 0.875rem;
        margin-bottom: 20px;
    }

    &__text {}
}