.hero {
    height: 800px;
    position: relative;
    color: #fff;
    overflow: hidden;

    @media (max-width:$mobile) {
        height: 600px;
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__swiper {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        .swiper-slide {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__bg {
        position: absolute;
        z-index: -1;
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        overflow: hidden;
        top: 3px;
        left: 3px;

        img {
            width: calc(100% - 3px);
            height: calc(100% - 3px);
            object-fit: cover;
            border-radius: 30px;
            position: absolute;
            top: 0;
            left: 0;
            user-select: none;

            @media (max-width: em(1630)) {
                border-radius: 15px;
            }
        }
    }

    .bg {
        position: absolute;
        left: 3px;
        top: 3px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        border-radius: 30px;
        width: calc(100% - 6px);
        height: calc(100% - 6px);

        @media (max-width: em(1630)) {
            border-radius: 15px;
        }
    }
}

body {
    height: 5000px;
}

.body-hero {
    z-index: 3;
    color: #fff;
    border-radius: 10px;
    position: relative;
    width: 100%;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width:$tablet) {
        max-width: 50%;
    }

    // .body-hero__title
    &__title {
        @include adaptiveValue("font-size", 60, 34);
        font-weight: 600;
        line-height: 1.2;
    }

    // .body-hero__subtitle
    &__subtitle {
        @include adaptiveValue("font-size", 24, 15);
        font-weight: 300;
        color: #ffff;

        @media (max-width:$mobileSmall) {
            font-weight: 400;
        }
    }
}

/* Контейнер пагинации */
.swiper-pagination {
    position: absolute !important;
    bottom: 20px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 5 !important;
}

/* Маркеры пагинации */
.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: #fff !important;
    opacity: 0.4 !important;
    border-radius: 50% !important;
    margin: 0 5px !important;
    transition: all 0.3s ease 0s !important;
}

/* Активный маркер */
.swiper-pagination-bullet-active {
    background: $gradient !important;
    opacity: 1 !important;
    width: 30px !important;
    border-radius: 15px !important;
}